# tty{{ i }} - getty
#
# This service maintains a getty on tty1 from the point the system is
# started until it is shut down again.

start on stopped rc RUNLEVEL=[{{ runlevel }}] and (
            not-container or
            container CONTAINER=lxc or
            container CONTAINER=lxc-libvirt)

stop on runlevel [!{{ runlevel }}]

respawn
exec /sbin/getty -8 38400 tty{{ i }}
